@import "utils/libs"
@import "utils/vars"
@import "utils/fonts"

@import "plugins/hamburgers/hamburgers"

@import "components/header"
@import "components/footer"
@import "components/home"
@import "components/social_network"
@import "components/ddsmoothmenu"
@import "components/ddsmoothmenu2"
@import "components/main_slider"
@import "components/online_test"
@import "components/enroll"
@import "components/students_slider"
@import "components/feed_back"
@import "components/faq"
@import "components/successfull_students"
@import "components/pagination"
@import "components/menu_mobile_top"


html, body 
    height: 100%

body
    font-size: 14px  
    font-family: $mainFont
    min-width: 300px

.main
    position: relative   
    ul
        padding: 0 0 0 15px
h1
    margin-top: 20px
    font-size: 15px 
    text-transform: uppercase
    @media (min-width: 992px)
        font-size: 15px
h1, h2, h3      
    color: #c21920
    font-weight: 700 
h2
    font-size: 24px 
    @media (min-width: 992px)
        font-size: 36px
h3
    font-size: 18px
    font-weight: 500
    @media (min-width: 992px)
        font-size: 20px
h4
    color: $darkBlue
    margin-bottom: 20px  
    font-weight: 500  
    font-size: 20px
    text-transform: uppercase
h5
    color: $darkBlue
    margin-bottom: 20px  
    font-weight: 800  
    font-size: 16px    

a, .article a
    color: $blueLinkColor  
    &:hover
        text-decoration: underline
     
p
    margin-bottom: 10px     

button, button:focus 
    outline: 0 !important
    box-shadow: none !important

.modal-open
    overflow: hidden !important

.main__overlay
    background-color: rgba(0,0,0,.5)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    z-index: 2
    visibility: hidden
    opacity: 0
    -webkit-transition: opacity 1s
    -o-transition: opacity 1s
    transition: opacity 1s
    &.active
        opacity: 1
        visibility: visible

.page-item.active .page-link
    background-color: $corpBlue
    border-color: $corpBlue
.page-link
    color: $corpBlue   