.ddsmoothmenu
    position: relative
    display: block
    top: 74px
    left: 0px
    height: 44px
    padding: 0px
    width: 1000px	
    border: 0px solid #000
    z-index: 500
    @media (max-width: 768px)
        width: 80% !important
        margin: 0 auto
    &__top-mob
        background-color: #a11626
        a
           color: #ffffff
        ul
            columns: 2
    &__bottom-mob
        background: #ffffff
        position: relative
        z-index: 2
    &__top-mob, &__bottom-mob
        position: absolute
        z-index: 3
        width: 100%
        margin: 0 0 0 0px
        padding: 30px 0
        list-style-type: none
        -webkit-font-smoothing: antialiased
        //to stop flickering of text in safari
        transform-origin: 0% 0%
        transform: translate(0, -100%)
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
        &.active
            transform: none    
        ul
            list-style-type: none
    .left_wing  
        background: url($imgPath + 'sprite.png') -194px -520px 
        width: 41px 
        height: 47px 
        position: absolute 
        top: 0px 
        left: -39px 
        border: 0px solid #000  
    .hamburger-left
        position: absolute
        top: 6px
        left: 5px
        .hamburger-inner, 
        .hamburger-inner:after, 
        .hamburger-inner:before
            background-color: #fff
        &.is-active .hamburger-inner, 
        &.hamburger.is-active .hamburger-inner:after, 
        &.hamburger.is-active .hamburger-inner:before
            background-color: #fff
        .hamburger-left-title
            color: #fff
            position: absolute
            top: 8px
            right: -65px
            font-size: 13px
    .hamburger-right
        position: absolute
        top: 6px
        right: 5px   
        .hamburger-inner, 
        .hamburger-inner:after, 
        .hamburger-inner:before
            background-color: #7fbbf3
        .hamburger.is-active .hamburger-inner, 
        .hamburger.is-active .hamburger-inner:after, 
        .hamburger.is-active .hamburger-inner:before
            background-color: #00539f       
        .hamburger-right-title
            color: #7fbbf3
            position: absolute
            top: 7px
            right: 38px
            font-size: 13px    
    .right_wing  
        background: url($imgPath + 'sprite.png') -237px -520px 
        width: 45px 
        height: 47px 
        position: absolute 
        top: 0px 
        right: -39px 
        border: 0px solid #000  
    ul 
        display: table
        width: 100%
        li
            display: table-cell
            border-right: 1px solid #c61f35
            border-left: 1px solid #a20b0f
            position: relative

    ul li:first-child 
        border-left: 0px solid #a20b0f

.ddsmoothmenu ul ul 
    width: auto
    display: block
    border: 0px solid #000
    padding: 5px
    border-top-left-radius: 0px
    border-top-right-radius: 0px
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px			
    background: #A21626

.ddsmoothmenu ul ul li 
    display: table-cell
    border-right: 0px solid #c61f35
    border-left: 0px solid #a20b0f

.ddsmoothmenu ul a 
    display: block
    border: 0px solid red
    text-align: center
    background: #999

.ddsmoothmenu
    font-size: 12px
    background: url($imgPath + 'but_bg.png') repeat-x
    width: 100%

.ddsmoothmenu ul
    z-index: 100
    margin: 0
    padding: 0
    list-style-type: none

.ddsmoothmenu ul li > div
    position: relative

/*Top level menu link items style*/
.ddsmoothmenu ul li a
    display: block
    background: url($imgPath + 'but_bg.png') repeat-x
    padding: 14px 20px
    border-right: 0px solid #778
    color: #FFF
    text-decoration: none
    transition: background 0.2s ease-in-out 0s	

/*IE6 hack to get sub menu links to behave correctly*/
* html .ddsmoothmenu ul li a 
    display: inline-block

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited
    color: #FFF

.ddsmoothmenu ul li a.selected 
    /*CSS class that's dynamically added to the currently active menu items' LI A element*/
    // background: #890f1d 
    background: url($imgPath + 'but_bg_hover.png') repeat-x
    color: #FFF

.ddsmoothmenu ul li ul li a.selected
    background-color: #890f1d 
    background-image: none

.ddsmoothmenu ul li a:hover
    /*background of menu items during onmouseover (hover state)*/
    // background: #890f1d 
    background: url($imgPath + 'but_bg_hover.png') repeat-x
    color: #FFF

.ddsmoothmenu ul li ul li a:hover
    background-color: #890f1d 
    background-image: none
    
/*1st sub level menu*/
.ddsmoothmenu ul li ul
    position: absolute
    left: 0
    /*collapse all sub menus to begin with*/
    display: none 
    visibility: hidden

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li
    display: list-item
    float: none

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul
    top: 0

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a
    font: normal 12px $mainFont
    /*width of sub menus*/
    min-width: 160px 
    text-align: left
    padding: 5px
    margin: 0
    border-top-width: 0
    border-bottom: 1px dotted #870a18
    background: #a21626

/* Holly Hack for IE \*/
/*Holly Hack for IE7 and below*/
* html .ddsmoothmenu
    height: 1% 
/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass
    position: absolute
    top: 12px
    right: 7px

.rightarrowclass
    position: absolute
    top: 6px
    right: 5px

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow /*shadow for NON CSS3 capable browsers*/
    position: absolute
    left: 0
    top: 0
    width: 0
    height: 0
    background: silver

/*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/    
.toplevelshadow 
    opacity: 0.8

