.ddsmoothmenu2
	height: 44px
	font-size: 11px
	padding: 0px
	width: 100%	
	border: 0px solid #000

.ddsmoothmenu2 ul 
    display: table
    width: 100%

.ddsmoothmenu2 ul li 
    display: table-cell
    border-left: 1px dotted #8fbddb
    position: relative
    > div
        position: relative

.ddsmoothmenu2 ul li  
    /*background of menu items (default state)*/
    background: url($imgPath + 'down_arrow.png') center 13px no-repeat 
.ddsmoothmenu2 ul ul li
    /*background of menu items (default state)*/  
    background: none 
.ddsmoothmenu2 ul li:first-child 
    border-left: 0px dotted #8fbddb
    position:  relative

.ddsmoothmenu2 ul ul
	width: auto
	display: block
	border: 0px solid #000
	padding: 5px
	border-top-left-radius: 0px
	border-top-right-radius: 0px
	border-bottom-left-radius: 10px
	border-bottom-right-radius: 10px	
	background: #e0eaf4
	padding: 10px

.ddsmoothmenu2 ul ul li 
    display:  table-cell
    border-right: 0px solid #c61f35
    border-left: 0px solid #a20b0f

.ddsmoothmenu2 ul a 
    display:  block
    border:  0px solid red
    text-align:  center

.ddsmoothmenu2
    height: 56px	
    width:  100%
    border: 0px solid #000
    background: url($imgPath + 'nav_2_bg.png') 0 0 repeat-x
    border-bottom-right-radius:  8px
    border-bottom-left-radius:  8px

.ddsmoothmenu2 .font_ka-GE  
    font: bold 13px BPG Nino Mtavruli, bpg_nino_mtavruli
.ddsmoothmenu2 .font_en-US  
    font: bold 13px "Lucida Sans Unicode", Trebuchet MS, Tahoma

.ddsmoothmenu2 ul
	z-index: 100
	margin:  0
	padding:  0
	list-style-type:  none
	position: relative	

/*Top level menu link items style*/
.ddsmoothmenu2 ul li a
    display:  block
    color:  #000
    padding:  26px 20px 9px 20px
    border-right:  0px solid #778
    color:  #00539f
    text-decoration:  none
    transition: background 0.2s ease-in-out 0s

* html .ddsmoothmenu2 ul li a
    /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block

.ddsmoothmenu2 ul li a:link, .ddsmoothmenu2 ul li a:visited
    color: #00539f

.ddsmoothmenu2 ul li a.selected 
    color: #7fbbf3

.ddsmoothmenu2 ul li a:hover
    color: #7fbbf3

.ddsmoothmenu2 ul ul li a:hover
    /*background of menu items during onmouseover (hover state)*/
    background: #bcd1e5 
    color:  white

/*1st sub level menu*/
.ddsmoothmenu2 ul li ul
    position:  absolute
    left:  0
    /*collapse all sub menus to begin with*/
    display:  none 
    visibility:  hidden

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu2 ul li ul li
    display:  list-item
    float:  none
    border-bottom: 1px dotted #afc7df

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu2 ul li ul li ul
    top:  0

/* Sub level menu links style */
.ddsmoothmenu2 ul li ul li a
    font:  normal 12px $mainFont
    /*width of sub menus*/
    min-width:  160px 
    padding:  5px
    text-align: left
    margin:  0
    border-top-width:  0

.ddsmoothmenu2 ul li ul li:last-child 
    border-bottom:  0px dotted #afc7df


/* Holly Hack for IE \*/
* html .ddsmoothmenu2
    height:  1% /*Holly Hack for IE7 and below*/

/* ######### CSS classes applied to down and right arrow images  ######### */

.ddsmoothmenu2 .downarrowclass
    position:  absolute
    top:  12px
    right:  7px

.ddsmoothmenu2 .rightarrowclass
    position:  absolute
    top:  6px
    right:  5px

/* ######### CSS for shadow added to sub menus  ######### */

.ddsmoothmenu2 .ddshadow /*shadow for NON CSS3 capable browsers*/
    position:  absolute
    left:  0
    top:  0
    width:  0
    height:  0
    background:  silver

.ddsmoothmenu2 .toplevelshadow 
    /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
    opacity:  0.8
