.enroll
    position: relative
    margin: 0px 0px 5px 0px
    background: $blueLinkColor
    border-radius: 4px
    transition: background 0.3s ease-in-out 0s
    &__link
        border: 0px solid $black
        background: url($imgPath + 'sprite.png') -473px -370px no-repeat
        width: 200px
        height: 60px
        display: block
    &:hover
        background: #8dbbe4
        border-radius: 4px
