.faq
    .card
        border: none
    .card-header
        background-color: transparent
        padding: 0
        border-bottom: 0
    .btn
        color: #0f75bc
        text-decoration: none
        padding: 0
        &:focus 
            outline: 0 !important