.feed-back
    label
        font-size: 12px
    &__input, &__textarea
        font-family: Tahoma, Arial
        background: #f4f4f4
        color: #000
        font-size: 13px
        padding: 1px
        border: 1px solid #0e2956
        outline: none
    &__input
        width: 80%
    &__textarea
        min-width: 100%
        min-height: 100px
    &__input--code
        width: 100px
    &__submit
        width: 80px
        height: 25px
        background: #00539f
        color: #FFF
        border: 0px solid #999
        cursor: pointer
        border-radius: 2px
        transition: all .3s
        &:hover
            background: #007ff6