.footer
    border-top: 3px solid #c21920
    &__inner
        background-color: #ccdfee
        padding: 30px 0
    &__menus-list
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        padding: 0
        list-style-type: none
        margin-right: -30px
        & > li
            padding: 0px 20px 0 0
            width: 16.25555%
            @media all and (max-width: 1200px)
                width: 33.333333%
            @media all and (max-width: 500px)    
                    width: 50%
                    font-size: 12px
        & > li > div
            padding-bottom: 10px
        & > li a
            color: #00539f
        & > li > ul
            list-style-type: none
            font-size: 12px
            padding: 0
            margin: 0 0 20px          
    &__copyright
        font-size: 10px
        color: #666  
    &__developed
        font-size: 10px
        color: #666  
        a
            color: #00539f
            text-decoration: none 
    &__bottom
        background-color: $white 
        padding: 10px 0   