.header
    &__inner-wrapper
        background: url($imgPath + '/header-bg.jpg') repeat-x
        min-height: 207px
        position: relative
        z-index: 101
    &__middle
        position: relative
        justify-content: space-between
        @media (max-width: 460px)
            flex-direction: column
    &-logo
        display: block
        background-position: -425px -514px
        background: url($imgPath + '/sprite.png') no-repeat left top
        height: 57px
        width: 176px
        opacity: 0
        text-indent: -9999px
        &-and-search-container
            background: url($imgPath + '/sprite.png') no-repeat left top
            height: 57px
            width: 176px
            background-position: -16px -514px
            opacity: 1
            position: relative
            transform: translate(0px, 37px)
            @media (min-width: 410px) and (max-width: 768px)
                margin-left: 48px
            @media (max-width: 460px)
                position: relative
                top: 15px
                margin: 0 auto
                transform: translate(0px, 0px)

    &__slogan-en
        background: url($imgPath + '/sprite.png') -250px -320px
        width: 230px
        height: 57px
        position: absolute
        top: 34px
        left: 210px
        @media (max-width: 768px)
            display: none
    &__slogan-ka
        background: url($imgPath + '/sprite.png') -250px -267px
        width: 230px
        height: 57px
        position: absolute
        top: 36px
        left: 213px
        @media (max-width: 768px)
            display: none
    &__slogan-ru
        background: url($imgPath + '/sprite.png') -371px -454px
        width: 230px
        height: 57px
        position: absolute
        top: 39px
        left: 214px
        @media (max-width: 768px)
            display: none

    &-search
        width: 245px
        height: 29px
        @media (max-width: 768px)
            width: 150px
        &--mobile-margin
            @media (max-width: 460px)
                margin: 11px auto
        &--desktop-margin
            @media (min-width: 461px)
                margin: 50px 44px 0 0
        &--hide-mobile
            @media (max-width: 460px)
                display: none
        &--hide-desktop
            @media (min-width: 461px)
                display: none
        &-wrapper
            justify-content: flex-end
            background: url($imgPath + '/sprite.png') -250px -10px
            width: 430px
            height: 175px
            position: absolute
            top: 0
            right: 0px
            z-index: 0
            @media screen and ( max-width: 768px)
                justify-content: flex-center
        &__form
            position: relative
        &__input
            width: 100%
            padding: 3px 6px 3px 6px
            margin: 1px 0 0 8px
            border: none
            height: 27px
            outline: none
            background-color: #fff
            border: 1px solid #c4d3e0
            border-radius: 4px 0 0 4px
        &__submit
            background: url($imgPath + '/sprite.png') -660px -572px
            width: 32px
            height: 29px
            border: 0px solid #000
            cursor: pointer
            position: absolute
            top: 1px
            right: -10px
    &__lang-switch
        div
            width: 30px
            height: 29px
            display: inline-block
            float: left
            list-style: none
            border: 0px solid #000
        &-en
            background: url($imgPath + '/sprite.png') -308px -520px
        &-en.active, &-en:hover
            background: url($imgPath + '/sprite.png') -339px -520px
        &-ka
            background: url($imgPath + '/sprite.png') -308px -549px
        &-ka.active, &-ka:hover
            background: url($imgPath + '/sprite.png') -339px -549px
        &-ru
            background: url($imgPath + '/sprite.png') -663px -520px
        &-ru.active, &-ru:hover
            background: url($imgPath + '/sprite.png') -696px -520px
        a
            width: 30px
            height: 29px
            display: inline-block
            float: left
            list-style: none
            border: 0px solid #000
