.home-links
    &__title
        font-size: 16px
        color: #00539f
        margin-bottom: 20px
    &__item
        display: block
        color: $darkLinkColor
        transition: all .3s
        &:hover
            color: $darkLinkColor
            text-decoration: none
        &-img
            display: block
            width: 100%
            max-width: 100%
            transition: all .3s
        &-title
            font-size: 15px
        &-text
            font-size: 14px
                