.main-slider
    margin-top: 5px
    border-radius: 6px
    &__picture
        position: relative
        z-index: 0
    &__caption
        position: absolute
        z-index: 999
        top: 50px
        left: 50px
        @media (max-width: 500px)
            top: 20px
            left: 20px
    &__img
        width: 100%
    .swiper-button-next:after, 
    .swiper-button-prev:after
        position: absolute
        top: 50%
        color: $white
        text-shadow: 0 1px 3px rgba(0,0,0,.3)
        transform: translateY(-50%)
        font-size: 30px
    .swiper-pagination-bullet
        background: $darkGray
        width: 6px
        height: 6px
        margin: 0 3px
        font-size: 0
        color: $white
        border: none
        opacity: 1
    .swiper-pagination-bullet-active
        background: $primary
    &__subtitle
        display: inline-block
        background: #0f75bc
        width: 400px
        padding: 15px
        color: #FFF
        font-size: 24px
        letter-spacing: 0px
        line-height: 24px
        text-align: left
        opacity: 0.7   
        @media (max-width: 500px)
            font-size: 14px   
            width: 93%     
            line-height: 18px     
    &__btn
        float: left
        clear: both
        text-align: center
        background: #ed217c
        min-width: 90px
        margin: 0px
        padding: 8px 10px 10px 10px
        margin-top: 5px
        color: #FFF
        border-radius: 5px
        cursor: pointer
        transition: background 0.3s ease-in-out 0s
        line-height: 24px
        font-size: 14px
        opacity: 0.7
        &:hover 
            float: left
            clear:both 
            background: #f1592a 
            min-width: 90px 
            margin: 0px 
            padding: 8px 10px 10px 10px 
            margin-top: 5px 
            color: #FFF 
            border-radius: 5px 
            cursor: pointer
            text-decoration: none