.pagination 
    font-size: 12px	
    font-family: "Trebuchet MS", Arial, Helvetica
    &__item
        padding: 2px 5px 2px 5px
        margin: 2px
        border: 1px solid #F5F5F5
        text-decoration: none 
        color: #000000
        font-size: 14px
        transition: all 1s 
        &:hover, &:active 
            text-decoration: none
            border: 1px solid #0f75bc
            background:#0f75bc	
            color: #FFF
            transition: color 0s
    &__active 
        border: 1px solid #0f75bc
        background: #0f75bc
        font-weight: bold
        color: #FFF
    &__disabled 
        border: 0px solid #EEE
        color: #DDD