.social-network
    padding: 0
    margin-right: 15px
    .fa 
        padding: 4px
        font-size: 13px
        width: 22px
        height: 22px
        text-align: center
        text-decoration: none !important
        margin: 1px 4px
        border-radius: 50%
        &:hover 
            opacity: 0.7

    .fa-facebook 
        background: #3B5998
        color: white
        border: 1px solid  transparent
        &:hover
            border: 1px solid  #3B5998 
            background: transparent
            color: #3B5998

    .fa-twitter 
        background: #55ACEE
        color: white
        border: 1px solid  transparent
        &:hover
            border: 1px solid  #55ACEE 
            background: transparent
            color: #55ACEE

    .fa-google 
        background: #dd4b39
        color: white
        border: 1px solid  transparent
        &:hover
            border: 1px solid  #dd4b39 
            background: transparent
            color: #dd4b39
    .fa-linkedin 
        background: #007bb5
        color: white
        border: 1px solid  transparent
        &:hover
            border: 1px solid  #007bb5 
            background: transparent
            color: #007bb5

    .fa-youtube 
        background: #bb0000
        color: white
        border: 1px solid  transparent
        &:hover
            border: 1px solid  #bb0000 
            background: transparent
            color: #bb0000

    .fa-instagram 
        background: #125688
        color: white
        border: 1px solid  transparent
        &:hover
            border: 1px solid  #125688 
            background: transparent
            color: #125688


