.students-slider
    padding: 0 0 0 0
    position: relative
    .swiper-pagination-bullet-active
        background: black
    &-headline
        text-transform: uppercase
        color: $corpBlue
        font-weight: bold
        margin-bottom: 20px
    &__item
        overflow: hidden
        &-img
            width: 125px
            max-width: 125px
            max-height: 216px
            margin-right: 20px
        &-age
            color: $corpRed
        &-comment
            font-size: 14px
            padding-right: 30px
    &__prev, &__next
        top: 26px
        height: auto
        z-index: 1
    &__prev
        left: 193px
        &:focus
            outline: none
        &:after
            width: 10px
            height: 20px
            font-size: 0px
            background-image: url($imgPath + 'sprite.png')
            background-position: -49px -573px
            background-repeat: no-repeat
    &__next
        left: 210px
        &:focus
            outline: none
        &:after
            width: 10px
            height: 20px
            font-size: 0px
            background-image: url($imgPath + 'sprite.png')
            background-position: -61px -573px
            background-repeat: no-repeat
    &__container
        padding-bottom: 50px
