.successfull-students
    &__item
        margin-bottom: 20px
    &-detail
        @media (max-width: 500px)
            flex-direction: column
        &__info
            @media (max-width: 500px)
                padding-top: 10px    
            

        