{% extends "base.html" %}

{% block content %}
<div class='row'>
    <div class='col text-center'>

        <h1 class='my-5'>Bad Request</h1>
        <p>400 Error</p>

    </div>
</div>
{% endblock %}