{% extends "base.html" %}

{% block content %}
<div class='row'>
    <div class='col text-center'>


        <h1 class='my-5'>Permission Denied</h1>
        <p>403 Error</p>

    </div>
</div>
{% endblock %}