{% extends "base.html" %}

{% block content %}
<div class='row'>
    <div class='col text-center'>

        <h1 class='my-5'>Oops. Sorry. A Server Error Occured</h1>
        <p>500 Error | We have been notified and are working on a fix. </p>

    </div>
</div>
{% endblock %}