{% load static %} 
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %} 
{% load mptt_tags %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />

    <meta property="og:title" content="{% block og_title %}{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}{% endblock %}" />
    <meta property="og:image" content="{% block og_image %}{% endblock %}" />
    <meta property="og:url" content="{{SITE_FULL_PATH}}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/assets/css/vendors.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/app.css' %}">
</head>

<body>
    <div class="app">
        <header class="header">
            <div class="header__inner-wrapper">
                <div class="container">
                    <div class="header__top d-flex justify-content-end">
                        <div class="social-network">
                            <a href="https://www.facebook.com/ptg.georgia" class="fa fa-facebook" target="_blank"></a>
                            <a href="https://twitter.com/PTG_Georgia" class="fa fa-twitter" target="_blank"></a>
                            <a href="http://www.linkedin.com/company/p-t-g?goback=.fcs_GLHD_P%2FT%2FG_false_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&amp;trk=top_nav_home" class="fa fa-linkedin" target="_blank"></a>
                            <a href="#" class="fa fa-youtube" target="_blank"></a>
                        </div>
                        <div class="header__lang-switch">
                            {% get_current_language as LANGUAGE_CODE %} 
                            {% get_available_languages as LANGUAGES %} 
                            {% get_language_info_list for LANGUAGES as languages %} 
                            {% for language in languages %}
                            <div class="header__lang-switch-{{ language.code }}{% if language.code == LANGUAGE_CODE %} active {% endif %}">
                                <a class="header__lang-switch-link-js" href="{{ language.code }}" title="{{ language.name_local }}"></a>
                            </div>
                            {% endfor %}
                            <form id="lang_switch" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}" />
                                <input name="language" type="hidden" />
                            </form>
                        </div>
                    </div>
                    <div class="header__middle d-flex position-relative">
                        <div>
                            <div class="header-logo-and-search-container">
                                <a class="header-logo" href="/">PTG</a>
                                <div class="header-search header-search--hide-desktop header-search--mobile-margin">
                                    <form action="{% url 'search' %}" class="header-search__form" method="get">
                                        <input type="text" name="q" class="header-search__input" />
                                        <input type="submit" class="header-search__submit" value="" />
                                    </form>
                                </div>
                            </div>
                            <div class="header__slogan-{{ LANGUAGE_CODE }}"></div>
                        </div>
                        <div class="header-search-wrapper d-flex">
                            <div class="header-search header-search--hide-mobile header-search--desktop-margin">
                                <form action="{% url 'search' %}" class="header-search__form" method="get">
                                    <input type="text" name="q" class="header-search__input" />
                                    <input type="submit" class="header-search__submit" value="" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="smoothmenu1" class="ddsmoothmenu">
                        <div class="left_wing"></div>
                        <div class="hamburger hamburger--collapse js-humberger-left hamburger-left d-block d-lg-none">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                            <div class="hamburger-left-title">Main Menu</div>
                        </div>
                        <ul class="d-none d-lg-table">
                            {% recursetree top_menu %}
                            <li>
                                <div>
                                {% if node.is_leaf_node == True %}
                                    {% if node.link != '' %}

                                    <a href="/{{ LANGUAGE_CODE }}/{{ node.link }}/">{{ node.title }}</a> 

                                    {% else %}

                                    <a href="" onclick="return false">{{ node.title }}</a> 

                                    {% endif %}
                                {% else %}
                                    <a href="" onclick="return false">{{ node.title }}</a>
                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    <ul class="children">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                                </div>
                            </li>
                            {% endrecursetree %}
                        </ul>
                        <div class="hamburger hamburger--collapse js-humberger-right hamburger-right d-block d-lg-none">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                            <div class="hamburger-right-title">Courses</div>
                        </div>
                        <div class="right_wing"></div>
                    </div>
                </div>
            </div>
            <div class="d-block d-lg-none">
                <div class="ddsmoothmenu__top-mob">
                    <div class="container">
                        <ul>
                            {% recursetree top_menu %} 
                                {% if node.is_leaf_node == True %}
                                    {% if node.link != '' %}
                                    <li>
                                        <a href="/{{ LANGUAGE_CODE }}/{{ node.link }}/">{{ node.title }}</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="" onclick="return false">{{ node.title }}</a>
                                    </li>
                                    {% endif %}
                                {% else %}
                                    {% if node.title != '+' %}
                                    <li>
                                        <a href="" onclick="return false">{{ node.title }}</a> 
                                    </li>
                                    {% endif %} 
                                {% endif %} 

                                {% if not node.is_leaf_node %} 
                                    {{ children }} 
                                {% endif %} 
                            {% endrecursetree %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-block d-lg-none">
                <div class="ddsmoothmenu__bottom-mob">
                    <div class="container">
                        <ul>
                            {% recursetree middle_menu %} 
                            {% if node.active == True %}
                                {% if node.is_leaf_node == True %}
                                    {% if node.link != '' %}
                                    <li>
                                        <a href="/{{ LANGUAGE_CODE }}/{{ node.link }}/">{{ node.title }}</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="" onclick="return false">{{ node.title }}</a>
                                    </li>
                                    {% endif %}
                                {% else %}
                                <li>
                                    <a href="#" class="has-submenu-js">{{ node.title }}</a> 
                                    <ul class="submenu">
                                        {{ children }}
                                    </ul>
                                </li>
                                {% endif %}
                            {% endif %}
                        {% endrecursetree %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container d-none d-lg-block">
                <div id="smoothmenu2" class="ddsmoothmenu2">
                    <ul>
                        {% recursetree middle_menu %} 
                            {% if node.active == True %}
                                {% if node.is_leaf_node == True %}
                                    {% if node.link != '' %}
                                    <li>
                                        <a href="/{{ LANGUAGE_CODE }}/{{ node.link }}/">{{ node.title }}</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="" onclick="return false">{{ node.title }}</a>
                                    </li>
                                    {% endif %}
                                {% else %}
                                <li>
                                    <a href="" onclick="return false">{{ node.title }}</a> 
                                    <ul class="children">
                                        {{ children }}
                                    </ul>
                                </li>
                                {% endif %} 
                            {% endif %} 
                        {% endrecursetree %}
                    </ul>
                </div>
            </div>

        </header>
        <div class="main">
            <div class="container">
                {% block content %}{% endblock %}
            </div>

        </div>
        <footer class="footer">
            <div class="footer__inner">
                <div class="container">
                    <ul class="footer__menus-list">
                        {% recursetree footer_menu %}
                        {% if node.active == True %}
                            <li>
                                {% if node.level == 0 %}
                                    <div>{{ node.title }}</div>
                                {% else %}

                                    {% if node.active == True %}
                                        {% if node.link != '' %}
                                            <a href="/{{ LANGUAGE_CODE }}/{{ node.link }}/" target="{{ node.link_state }}">{{ node.title }}</a>
                                        {% else %}
                                            <a href="" onclick="return false">{{ node.title }}</a>
                                        {% endif %}
                                    {% endif %}

                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    <ul>
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% endrecursetree %}
                    </ul>
                    <div class="d-flex justify-content-end mt-3">
                        <div class="social-network">
                            <a href="https://www.facebook.com/ptg.georgia" class="fa fa-facebook" target="_blank"></a>
                            <a href="https://twitter.com/PTG_Georgia" class="fa fa-twitter" target="_blank"></a>
                            <a href="http://www.linkedin.com/company/p-t-g?goback=.fcs_GLHD_P%2FT%2FG_false_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&amp;trk=top_nav_home" class="fa fa-linkedin" target="_blank"></a>
                            <a href="#" class="fa fa-youtube" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="footer__copyright">
                                {% translate '© 2000 - 2021 PTG All rights reserved.' %}
                            </div>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <div class="footer__developed">
                                {% translate 'Developed by:' %} <a href="https://robofied.dev" target="_blank">Robofied</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>



    <script src="{% static '/assets/js/vendors.js' %}"></script>
    <script src="{% static '/assets/js/app.js' %}"></script>
</body>

</html>