{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}

{% load i18n %}

{% block title %}PTG - {% translate 'Home' %}{% endblock %}
{% block keywords %}PTG - {% translate 'Home' %}{% endblock %}
{% block description %}PTG - {% translate 'Home' %}{% endblock %}

{% block content %}

{% include "components/main_slider.html" with data=main_slider_items %}

<div class="main mt-4">
    <p><strong><span style="color: #c21920;">P/T/G</span></strong>, The PROFESSIONAL TRAINING GROUP is a
        private training school that opened for business in June, 2000. &nbsp;It uses a fully
        communicative approach to language teaching, an approach that is continuously being up-dated.
        &nbsp;Language in our classrooms is never presented without context. Grammar, structure,
        vocabulary, and other features of actual language use in everyday situations are practiced.
        &nbsp;A variety of up-to-date authentic material is used in class, giving the students valuable
        information about modern-day international culture and society. At the same time, students
        develop practical communication skills. &nbsp;The focus is on active production of language
        rather than passive reception<a href="about.html">...more</a></p>
</div>

{% include "components/home-links.html" %}
{% include "components/successful-students-slider.html" with data=successful_students %}

{% endblock %}