{% extends "base.html" %}
{% load static %}
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %} 

{% block title %}PTG - {{page.title}}{% endblock %}
{% block keywords %}{{page.keywords}}{% endblock %}
{% block description %}{{page.description}}{% endblock %}

{% block og_title %}{{page.keywords}}{% endblock %}
{% block og_description %}{{page.description}}{% endblock %}
{% block og_image %}{{page.image_full_path}}{% endblock %}

{% block content %}

{% if '/search/' not in request.path %}
    {% include "components/main_slider.html" with data=main_slider_items %}
{% endif %}

{% if request.path != '/en/' and request.path != '/ka/' and request.path != '/ru/' %}
<h1>{{page.title}}</h1>
{% endif %}
<div class="main mt-4">
    {% if request.path == '/en/' or request.path == '/ka/' or request.path == '/ru/' %}
        <p>{{page.text|striptags|truncatechars_html:800|safe}}<a href="/{{LANGUAGE_CODE}}/about-us/">{% translate 'more' %}</a></p>
    {% else %}
        {{page.text|safe}}
    {% endif %}
</div>

{% if '/contact-us/' in request.path %}
    {% include "components/feedback-form.html" %}
{% endif %}
{% if '/faq/' in request.path %}
    {% include "components/faq.html" with items=faq_items %}
{% endif %}    
{% if '/successful-students/' in request.path %}
    {% include "components/successfull-students.html" with items=successful_students_items %}
{% endif %}  
{% if '/search/' in request.path %}
    {% include "components/search.html" with items=search_items %}
{% endif %}  

{% include "components/home-links.html" %} 
{% include "components/successful-students-slider.html" with data=successful_students %}
{% endblock %}
