{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}PTG - {{item.full_name}}{% endblock %}
{% block keywords %}{{item.full_name}}{% endblock %}
{% block description %}{{item.comment|safe|striptags}}{% endblock %}

{% block og_title %}{{item.full_name}}{% endblock %}
{% block og_description %}{{item.comment|safe|striptags}}{% endblock %}
{% block og_image %}{{item.image_full_path}}{% endblock %}

{% block content %}

{% include "components/main_slider.html" with data=main_slider_items %}

<h1>{{item.full_name}}</h1>
<div class="main mt-4"></div>
<div class="successfull-students-detail d-flex">
        <div class="successfull-students-detail__img-wrapper">
            <img class="successfull-students-detail__img mr-3" src="{{item.image.url}}" alt="" />
        </div>
        <div class="successfull-students-detail__info">
            <!-- <div><strong>{{item.full_name}}</strong></div> -->
            <div><strong>{% translate 'Age:' %}</strong> {{item.age}}</div>
            <div><strong>{% translate 'Occupation:' %}</strong> {{item.occupation}}</div>
            <div><strong>{% translate 'Test name:' %}</strong> {{item.test_name}}</div>
            <div><strong>{% translate 'Scores:' %}</strong> {{item.scores}}</div>
            <div><strong>{% translate 'Comment:' %}</strong> <br />{{item.comment|safe}}</div>
        </div>
</div>

{% include "components/home-links.html" %}
{% include "components/successful-students-slider.html" with data=successful_students %}

{% endblock %}   