*, *:before, *:after 
    box-sizing: border-box

*:focus 
    outline: none

html, body
    height: 100%

body
    font-size: $mainFontSize
    min-width: 320px
    line-height: 1.5
    font-family: $mainFont
    overflow-x: hidden    
    
// Input placeholder style    
::-webkit-input-placeholder 
    color: $darkGray !important
    font-weight: 300 !important
::-moz-placeholder 
    color: $darkGray !important
    font-weight: 300 !important
::placeholder 
    color: $darkGray !important
    font-weight: 300 !important

// Text selection color
::selection
    background-color: $blueLinkColor
    color: #fff   

input, textarea 
    outline: none

ul 
    list-style-type: none
    margin: 0
    padding: 0        

.article ul.ul-custom, .article ol.ol-custom 
    margin-bottom: 1rem

ul.ul-custom
    li
        &::before
            content: ''
            display: inline-block
            width: 8px
            height: 2px  
            margin-right: 10px
            vertical-align: middle
            background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIyIiB2aWV3Qm94PSIwIDAgOCAyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSIyIiBmaWxsPSIjMDEwOTE2Ii8+Cjwvc3ZnPgo=)         

ol
    margin: 0
    padding: 0 0 0 17px     

.transition
    transition: all .3s

.big-text
    font-size: $bigFontSize 
    &.bold
        font-weight: 700 
.small-text
    font-size: $smallFontSize 
    line-height: 1.5
    &.bold
        font-weight: 700     

.red-text
    color: $red               
.blue-text
    color: $blueLinkColor
.gray-text
    color: $brightBlue
.gray-border
    border: 1px solid $gray                    
.bg-gray
    background-color: $gray

.w-100
    width: 100%

[data-toggle="tooltip"]
    cursor: pointer    