@font-face {
    font-family: 'Trebuchet MS';
    src: url($fontsPath + 'TrebuchetMS.woff2') format('woff2'),
        url($fontsPath + 'TrebuchetMS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
// @font-face {
//     font-family: 'Museo Sans';
//     src: url($fontsPath+'subset-MuseoSansCyrl-100.woff2') format('woff2'),
//         url($fontsPath+'subset-MuseoSansCyrl-100.woff') format('woff');
//     font-weight: 100;
//     font-style: normal;
// }


