{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="faq" id="accordion">
    {% for item in items %}
    <div class="card">
        <div class="card-header" id="heading{{item.pk}}">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{item.pk}}"
                    aria-expanded="true" aria-controls="collapse{{item.pk}}">
                    {{item.question}}
                </button>
            </h5>
        </div>

        <div id="collapse{{item.pk}}" class="collapse" aria-labelledby="heading{{item.pk}}"
            data-parent="#accordion">
            <div class="card-body">
                {{item.answer|safe}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>