{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="row">
    <div class="col-md-6">
        <div class="feed-back">
            <div class="row no-gutters">
                <div class="col-12">
                    <form class="feed-back__form">
                        <div class="row no-gutters">
                            <div class="col-3">
                                <label>
                                    <span>{% translate 'Name:' %} <span class="text-danger">*</span></span>
                                </label>
                            </div>
                            <div class="col-9">
                                <input class="feed-back__input" type="text" name="name" />
                            </div>

                            <div class="col-3">
                                <label>
                                    <span>{% translate 'Email:' %} <span class="text-danger">*</span></span>
                                </label>
                            </div>
                            <div class="col-9">
                                <input class="feed-back__input" type="text" name="name" />
                            </div>

                            <div class="col-3">
                                <label>
                                    <span>{% translate 'Subject:' %} <span class="text-danger">*</span></span>
                                </label>
                            </div>
                            <div class="col-9">
                                <input class="feed-back__input" type="text" name="name" />
                            </div>

                            <div class="col-3">
                                <label>
                                    <span>{% translate 'Message:' %} <span class="text-danger">*</span></span>
                                </label>
                            </div>
                            <div class="col-9">
                                <textarea name="message" class="feed-back__textarea"></textarea>
                            </div>

                            <div class="col-3"></div>
                            <div class="col-9">
                                <img src="/assets/img/CaptchaSecurityImages.jpg" alt="" />
                            </div>

                            <div class="col-3">
                                <label>
                                    <span>{% translate 'Security Code:' %}&nbsp;<span class="text-danger">*</span></span>
                                </label>
                            </div>
                            <div class="col-9">
                                <input class="feed-back__input feed-back__input--code" type="text"
                                    name="name" />
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <input type="submit" class="feed-back__submit" value="Send" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>  
    </div>
</div>