{% load static %}
<div class="home-links">
    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <h2 class="home-links__title">News & Events</h2>
            <a href="" class="home-links__item">
                <img class="home-links__item-img mb-3" src="{% static 'assets/img/news-and-events.jpg' %}" alt="" />
                <h3 class="home-links__item-title">News title goes here</h3>
                <div class="home-links__item-text">Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged.
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <h2 class="home-links__title">Upcoming Courses</h2>
            <a href="" class="home-links__item">
                <img class="home-links__item-img mb-3" src="{% static 'assets/img/upcoming-courses.jpg' %}" alt="" />
                <h3 class="home-links__item-title">News title goes here</h3>
                <div class="home-links__item-text">Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged.
                </div>
            </a>
        </div>
    </div>
</div>