{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% if data.items|length  > 0 %}
<div class="main-slider swiper-container">
    <div class="swiper-wrapper">
        {% for item in data.items %}
        <div class="swiper-slide">
            <picture class="main-slider__picture">
                <source class="swiper-lazy swiper-lazy-loaded" srcset="/media/{{item.image_mobile}}" media="(max-width: 1152px)">
                <source class="swiper-lazy swiper-lazy-loaded" srcset="/media/{{item.image_desctop}}" media="(min-width: 1153px)">
                <img class="main-slider__img swiper-lazy swiper-lazy-loaded" src="/media/{{item.image_desctop}}" alt="" />
            </picture>
            <div class="main-slider__caption"> 
                <div class="main-slider__subtitle" data-swiper-parallax="-300"
                    data-swiper-parallax-duration="700">
                    {{item.headline}}
                </div>
                <div class="main-slider__text" data-swiper-parallax="-400"
                    data-swiper-parallax-duration="900">
                    <a href class="main-slider__btn">{% translate 'Learn More' %}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
{% endif %}