{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% if items %}
<div class="row">
    <div class="col-4 offset-4">
        <nav>
            <ul class="pagination">
                
                {% if items.has_previous %}
                    {% if items.paginator.num_pages > 2 %}
                    <li class="page-item ">
                        <a class="page-link" href="?p=1">{% translate 'First' %}</a>
                    </li> 
                    {% endif %}  
                    <li class="page-item"><a class="page-link" href="?p={{ items.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'p' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{% translate 'Previous' %}</a></li>
                {% else %}
                    {% if items.paginator.num_pages > 2 %}
                    <li class="page-item disabled">
                        <span class="page-link">{% translate 'First' %}</span>
                    </li>  
                    {% endif %} 
                    <li class="page-item disabled">
                        <span class="page-link">{% translate 'Previous' %}</span>
                    </li>  
                {% endif %}
                
                {% for i in items.paginator.page_range %}
                    {% if items.number == i %}
                    <li class="page-item active"><a class="page-link" href="" onclick="return false">{{ i }}</a></li>
                    {% elif i > items.number|add:'-3' and i < items.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?p={{ i }}{% for key, value in request.GET.items %}{% if key != 'p' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                
                {% if items.has_next %}
                    <li class="page-item"><a class="page-link" href="?p={{ items.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'p' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{% translate 'Next' %}</a></li>
                    {% if items.paginator.num_pages > 2 %}
                    <li class="page-item ">
                        <a class="page-link" href="?p={{ items.paginator.num_pages }}">{% translate 'Last' %}</a>
                    </li>  
                    {% endif %}                  
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">{% translate 'Next' %}</span>
                    </li>
                    {% if items.paginator.num_pages > 2 %}
                    <li class="page-item disabled">
                        <span class="page-link">{% translate 'Last' %}</span>
                    </li>  
                    {% endif %}                  
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endif %}