{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="search">
    {% if search_items %}
        {% for item in search_items %}
            <div class="search__item">
                <a href="/{{item.slug}}/">
                    {{item.title}}
                </a>
                <div>{{item.text|striptags|safe|truncatechars_html:200}}</div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-danger">Nothing found. Please try another search.</div>
    {% endif %}
</div>

{% include "components/pagination.html" with data=search_items %}