{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% if data.items|length > 0 %}
    <div class="students-slider">
        <div class="students-slider-headline">{{data.title}}</div>
        <div class="swiper-button-prev students-slider__prev"></div>
        <div class="swiper-button-next students-slider__next"></div>
        <div class="swiper-container students-slider__container">
            <div class="swiper-wrapper">
                {% for item in data.items %}
                <div class="swiper-slide">
                    <div class="students-slider__item d-flex">
                        <a href="/{{LANGUAGE_CODE}}/successful-students/{{item.slug}}/"
                            class="students-slider__item-img-wrapper">
                            <img class="students-slider__item-img" src="/media/{{item.image}}"
                                alt="{{item.full_name}}" />
                        </a>
                        <div class="students-slider__info">
                            <div class="students-slider__item-full-name">{{ item.full_name }}</div>
                            <div class="students-slider__item-age">{{ item.age }}</div>
                            <div class="students-slider__item-comment">
                                {{ item.comment |striptags|truncatechars:100 }}
                                <a href="/{{LANGUAGE_CODE}}/successful-students/{{item.slug}}/">
                                    {% translate 'more' %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}