{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="successfull-students">
    {% for item in items %}
        <div class="successfull-students__item d-flex">
            <a href="/{{LANGUAGE_CODE}}/successful-students/{{item.slug}}/">
                <img class="successfull-students__item-img mr-3" src="/media/{{item.image}}" alt="" />
            </a>
            <div class="successfull-students__item-info">
                <div class="successfull-students__item-full-name">{{item.full_name}}</div>
                <div class="successfull-students__item-age">{{item.age}}</div>
                <div class="successfull-students__item-preview-text">
                    {{item.comment|striptags|truncatechars:250}}
                    <div>
                        <a href="/{{LANGUAGE_CODE}}/successful-students/{{item.slug}}/">
                            {% translate 'more' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% include "components/pagination.html" with data=items %}